*{
  padding: 0px;
  margin: 0px;
}
/* Slider */
.carousel-item {
  height: 75vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Cursos */
.card {
  border: none;
}

.card-body {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.card-body:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-radius: 5px 5px 0 0;
}

.card-title {
  margin-bottom: 0;
}

.card-title a {
  color: #333;
  font-size: 22px;
  text-decoration: none;
}

.card-title a:hover {
  color: #6c757d;
}

.card-text {
  color: #6c757d;
  font-size: 16px;
}

/* Galería */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Footer */
footer {
  color: #fff;
}

footer h4 {
  font-size: 18px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ccc;
  text-decoration: none;
}

footer p {
  font-size: 14px;
}
